@charset "EUC-KR";
h1 {
	color: red;
}

.fs-16 {font-size: 16px;}

.sidebar {
	width: 15rem;
}

.wmin-150 {min-width: 150px;}

/*****************************************************/
/* Navbar */
/*****************************************************/
@media ( min-width :768px) {
	.navbar-expand-md .navbar-brand {
		min-width: 13rem
	}
}

.navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-brand img {
	height: 2rem;
}

.navigation-title {
	font-weight: 600;
	font-size: 1rem;
}

.page-title {
	padding: 1rem 0;
}