.wmin-80 {min-width: 80px;}
.wmin-90 {min-width: 90px;}
.wmin-100 {min-width: 100px;}

/*****************************************************/
/* Table                                             */
/*****************************************************/
.tab-header {
	border: 0;
	background-color: #23B9B6 !important;
}

.tab-header a {
	font-weight: 600;
	font-size: 1rem;
}

.card, .card-header:first-child {
	border-radius: 0;
}

.nav-tabs-bottom .nav-link.active:before {
	background-color: #FFFF8D;
}

.nav-tabs-bottom .nav-link:before {
	height: 4px;
}

/*****************************************************/
/* 검색 조건                                                                                                     */
/*****************************************************/
.navbar-collapse {
	background-color: white;
	margin-left: 0;
	margin-right: 0;
}

/*****************************************************/
/* 생육환경                                                                                                */
/*****************************************************/
.crop-area {
	font-size: 1rem;
	font-weight: 600;
	color: #ff0000;
}

.crop-green {
	font-weight: 600;
	color: #2F9D27;
}

.environment-card {
	background-color: #CAAE84;
}

.detail-info {
	font-weight: 700;
	color: white;
	background-color: #846B44;
	line-height: 1.2
}

.environment-total {
	font-weight: 700;
	font-size: 16px;
	color: white;
}

/*****************************************************/
/* 막대 차트                                                                                                */
/*****************************************************/
@media (max-width: 767.98px) {
	.chart-container {
	    overflow-x: hidden;
	    overflow-y: visible;
	    max-width: 100%;
	}
}

.has-fixed-height {
	height: 180px;
}

/*****************************************************/
/* 기상 데이터 디자인 */
/*****************************************************/
.weather-time {
	font-size: 1rem;
	font-weight: 600;
	color: #F96D60;
}

.weather-temp {
	font-size: 1.6rem;
	font-weight: 500;
}

.weather-temp-unit {
	font-size: 1.2rem;
}

/*****************************************************/
/* 지도 데이터 디자인 */
/*****************************************************/
.map-container {
	height: 240px;
}

/*****************************************************/
/* 지도 데이터 디자인 */
/*****************************************************/
.line-chart-height {
	height: 260px;
}