<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mobile_layout">

    <th:block layout:fragment="css">
    	<link rel="stylesheet" th:href="@{/css/mobile/header.css}" >
        <link rel="stylesheet" th:href="@{/css/mobile/home.css}" >
    </th:block>
    
    <th:block layout:fragment="content">
    	<div class="content p-0">
    		<div class="tab-header">
	   			<ul class="nav nav-tabs nav-tabs-bottom border-bottom-0 nav-justified mb-0" id="mainTab">
					<li class="nav-item">
						<a href="#info_tab1" class="nav-link active" data-toggle="tab">
							<span class="d-md-none text-white">작물생육 정보</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#info_tab2" class="nav-link" data-toggle="tab">
							<span class="d-md-none text-white">데이터 보기</span>
						</a>
					</li>
				</ul>
				<div class="collapse navbar-collapse py-2" id="navbar-mobile">
					<div class="form-group d-flex mb-1">
						<label class="col-form-label font-weight-bold wmin-80">항목</label>
						<select class="form-control form-control-select2 input-sm" id="sensorTypeSelect" data-fouc>
							<option th:each="sensor : ${sensorTypes}" th:value="${sensor}" th:text="${sensor}"></option>
						</select>
					</div>
					<div class="form-group d-flex mb-1">
						<label class="col-form-label font-weight-bold wmin-80">구분</label>
						<select class="form-control form-control-select2 input-sm" id="sensorPointSelect" data-fouc>
							<option th:each="sensorPoint : ${sensorPointTypes}" th:value="${sensorPoint}" th:text="${sensorPoint}"></option>
						</select>
					</div>
					<div class="form-group d-flex mb-0">
						<label class="col-form-label font-weight-bold wmin-80">날짜선택</label>
						<div class="input-group mr-2">
							<span class="input-group-prepend" >
								<span class="input-group-text"><i class="icon-calendar22"></i></span>
							</span>
							<input type="text" id="datetimePicker" class="form-control">
						</div>
						<button type="button" id="searchBtn" class="btn btn-primary wmin-90"><i class="icon-search4 mr-1"></i>검 색</button>
					</div>
				</div>
    		</div>
   			<div class="tab-content">
				<div class="tab-pane fade show active" id="info_tab1">
					<div class="card environment-card border-0">
						<div class="card-header py-2">
							<h5 class="card-title font-weight-bold text-white">
								<i class="icon-chevron-right mr-2"></i>생육환경
							</h5>
						</div>
						<hr class="mx-3 my-0 bg-white">
						<div class="card-body pt-2">
							<div class="row">
								<div class="mr-auto"></div>
								<div class="col-4 px-2">
									<img th:src="@{/images/crop_bean.png}" class="img-fluid" alt=""/>
								</div>
								<div class="col-7 d-flex flex-column justify-content-center environment-total">
									<div id="environmentCurrent" class="font-weight-bold"></div>
									<div>
										<span id="environmentPoint" class="crop-area"></span>의 콩 작물 생육환경정보는
										<span id="environmentLevel" class="font-weight-bold"></span> 단계입니다.
									</div>
								</div>
							</div>
							<div class="mt-2 detail-info py-3 pl-3">
								<div>
									<i class="icon-check text-info mr-1"></i>
									표층(10cm) <span id="environmentSensor1"></span>이 <span id="environmentSensor1Day"></span>일째 
									[<span id="environmentLevel1" class="font-weight-bold"></span>]입니다.
								</div>
								<div class="my-2">
									<i class="icon-check text-info mr-1"></i>
									표층(30cm) <span id="environmentSensor2"></span>이 <span id="environmentSensor2Day"></span>일째 
									[<span id="environmentLevel2" class="font-weight-bold"></span>]입니다.
								</div>
								<div>
									<i class="icon-check text-info mr-1"></i>
									표층(50cm) <span id="environmentSensor3"></span>이 <span id="environmentSensor3Day"></span>일째 
									[<span id="environmentLevel3" class="font-weight-bold"></span>]입니다.
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card">
							<div class="card-header bg-transparent header-elements-inline">
								<h6 class="card-title font-weight-bold">
									<i class="icon-stats-bars2 mr-2"></i>
									<span id="barChartTitleA">토양수분 A</span>
								</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				               		</div>
				          		</div>
							</div>
							<div class="card-body p-0">
								<div class="chart-container">
									<div class="chart has-fixed-height" id="soilAChart"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card">
							<div class="card-header bg-transparent header-elements-inline">
								<h6 class="card-title font-weight-bold">
									<i class="icon-stats-bars2 mr-2"></i>
									<span id="barChartTitleB">토양수분 B</span>
								</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				               		</div>
				          		</div>
							</div>
							<div class="card-body p-0">
								<div class="chart-container">
									<div class="chart has-fixed-height" id="soilBChart"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card">
							<div class="card-header bg-transparent header-elements-inline">
								<h6 class="card-title font-weight-bold">
									<i class="icon-stats-bars2 mr-2"></i>
									<span id="barChartTitleC">토양수분 C</span>
								</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				               		</div>
				          		</div>
							</div>
							<div class="card-body p-0">
								<div class="chart-container">
									<div class="chart has-fixed-height" id="soilCChart"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card">
							<div class="card-header bg-transparent header-elements-inline">
								<h6 class="card-title font-weight-bold">
									<i class="icon-stats-bars2 mr-2"></i>
									<span id="barChartTitleD">토양수분 D</span>
								</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				               		</div>
				          		</div>
							</div>
							<div class="card-body p-0">
								<div class="chart-container">
									<div class="chart has-fixed-height" id="soilDChart"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card">
							<div class="card-header bg-transparent header-elements-inline">
								<h6 class="card-title font-weight-bold">
									<i class="icon-stats-bars2 mr-2"></i>
									<span id="barChartTitleE">토양수분 E</span>
								</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				               		</div>
				          		</div>
							</div>
							<div class="card-body p-0">
								<div class="chart-container">
									<div class="chart has-fixed-height" id="soilEChart"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card">
							<div class="card-header bg-transparent header-elements-inline">
								<h6 class="card-title font-weight-bold">
									<i class="icon-satellite-dish2 mr-2"></i>기상정보(기상청)
								</h6>
								<div id="weatherDate" class="text-secondary"></div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="mr-auto"></div>
									<div class="col-4 d-flex flex-column justify-content-center align-items-center">
										<img id="weatherIcon" alt="" class="img-fluid" width="75%"/>
										<span id="weatherType" class="font-weight-bold"></span>
									</div>
									<div class="col-6 pl-4">
										<div id="weatherHour" class="weather-time"></div>
										<div class="weather-info d-flex align-items-center">
											<span id="weatherTemp" class="weather-temp"></span>
											<span class="weather-temp-unit">℃</span>
										</div>
										
										<table>
											<tr>
												<td>
													<img th:src="@{/images/weather/icon_table03.png}" alt="" title="습도" class="img-fluid"/>
												</td>
												<td class="weather-text">
													<span id="weatherHum" class="ml-2"></span> 
												</td>
											</tr>
											<tr>
												<td>
													<img th:src="@{/images/weather/icon_table02.png}" alt="" title="풍향/풍속" class="img-fluid"/>
												</td>
												<td class="weather-text">
													<span id="weatherWind" class="ml-2"></span>
													<span id="weatherWindSpeed" class="ml-1"></span>
												</td>
											</tr>
											<tr>
												<td>
													<img th:src="@{/images/weather/icon_table01.png}" alt="" title="강수량" class="img-fluid"/>
												</td>
												<td class="weather-text">
													<span id="weatherRain" class="ml-2"></span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="card mb-2">
							<div class="card-body p-0">
								<div class="map-container" id="googleMap"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade p-2" id="info_tab2">
					<div class="col">
						<div class="card mb-0">
							<div class="card-body p-0">
								<ul class="nav nav-tabs nav-tabs-highlight nav-justified bg-light font-weight-bold" id="lineChartTab">
									<li class="nav-item nav-start" id="A">
										<a href="#tab1" class="nav-link active" data-toggle="tab">#A</a>
									</li>
									<li class="nav-item" id="B">
										<a href="#tab2" class="nav-link" data-toggle="tab">#B</a>
									</li>
									<li class="nav-item" id="C">
										<a href="#tab3" class="nav-link" data-toggle="tab">#C</a>
									</li>
									<li class="nav-item" id="D">
										<a href="#tab4" class="nav-link" data-toggle="tab">#D</a>
									</li>
									<li class="nav-item nav-end" id="E">
										<a href="#tab5" class="nav-link" data-toggle="tab">#E</a>
									</li>
								</ul>
								<div class="tab-content p-1">
									<div class="tab-pane fade active show" id="tab1">
										<div class="col">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempALineChart"></div>
											</div>
										</div>
										<div class="col mt-4">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterALineChart"></div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab2">
										<div class="col">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempBLineChart"></div>
											</div>
										</div>
										<div class="col mt-4">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterBLineChart"></div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab3">
										<div class="col">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempCLineChart"></div>
											</div>
										</div>
										<div class="col mt-4">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterCLineChart"></div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab4">
										<div class="col">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempDLineChart"></div>
											</div>
										</div>
										<div class="col mt-4">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterDLineChart"></div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="tab5">
										<div class="col">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempELineChart"></div>
											</div>
										</div>
										<div class="col mt-4">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterELineChart"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </th:block>
    
     <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
       	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOybNujmIFXZLfUf5J-q0_WqNH3riUKbg" async defer></script>
    	<script th:src="@{/js/common/google_map.js}"></script>
        <script th:src="@{/js/common/bar_chart.js}"></script>
        <script th:src="@{/js/m/line_chart.js}"></script>
        <script th:src="@{/js/page/home.js}"></script>
    </th:block>
</html>