<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mobile_layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/home.css}" >
    </th:block>
    
    <th:block layout:fragment="content">
    	<div class="content">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body p-0">
							<ul class="nav nav-tabs nav-tabs-highlight nav-justified bg-light">
								<li class="nav-item nav-start"><a href="#tab1" class="nav-link active" data-toggle="tab">작물생육 정보</a></li>
								<li class="nav-item nav-end"><a href="#tab2" class="nav-link" data-toggle="tab">데이터보기</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade active show" id="tab1">
									<div class="row">
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempALineChart">
													<div class="col-md-4">
														<div class="card">
															<div class="card-header bg-transparent header-elements-inline">
																<h6 class="card-title font-weight-bold">
																	<i class="icon-clipboard3 mr-2"></i>생육환경
																</h6>
																<div class="text-secondary">2020-05-27 14:00 기준</div>
															</div>
															<div class="card-body pb-2">
																<div class="font-weight-bold">2020년 05월 11일 현재</div>
																<div class="mt-1">
																	<span class="crop-area">A 지점</span>의 콩 작물 생육환경정보는 [<span class="crop-green fs-16">양호 단계</span>]입니다.
																</div>
																<div class="row mt-1">
																	<div class="col-md-3">
																		<img th:src="@{/images/crop_bean.png}" alt="" style="max-width: 100%; height: auto;"/>
																	</div>
																	<div class="col-md-1 py-2">
																		<div class="vertical-line"></div>
																	</div>
																	<div class="col-md-8 py-2">
																		<div>표층(10cm) 토양수분이 100일째 [<span class="crop-green">양호단계</span>]입니다.</div>
																		<div class="my-2">표층(30cm) 토양수분이 35일째 [<span class="crop-green">양호단계</span>]입니다.</div>
																		<div>표층(50cm) 토양수분이 56일째 [<span class="crop-green">양호단계</span>]입니다.</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterALineChart"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="tab2">
									<div class="row">
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempBLineChart">
													<div class="row">
														<div class="col-md">
															<div class="card">
																<div class="card-header bg-transparent header-elements-inline">
																	<h6 class="card-title font-weight-bold">
																		<i></i>토양수분 A
																	</h6>
																	<div class="header-elements">
																		<div class="list-icons">
													                		<a class="list-icons-item" data-action="collapse"></a>
													               		</div>
													          		</div>
																</div>
																<div class="card-body pb-0 pt-1">
																	<div class="chart-container">
																		<div class="chart has-fixed-height" id="soilABarChart"></div>
																	</div>
																</div>
															</div>
														</div>
														
														<div class="col-md">
															<div class="card">
																<div class="card-header bg-transparent header-elements-inline">
																	<h6 class="card-title font-weight-bold">
																		<i></i>토양수분 B
																	</h6>
																	<div class="header-elements">
																		<div class="list-icons">
													                		<a class="list-icons-item" data-action="collapse"></a>
													               		</div>
													          		</div>
																</div>
																<div class="card-body pb-0 pt-1">
																	<div class="chart-container">
																		<div class="chart has-fixed-height" id="soilBBarChart"></div>
																	</div>
																</div>
															</div>
														</div>
														
														<div class="col-md">
															<div class="card">
																<div class="card-header bg-transparent header-elements-inline">
																	<h6 class="card-title font-weight-bold">
																		<i></i>토양수분 C
																	</h6>
																	<div class="header-elements">
																		<div class="list-icons">
													                		<a class="list-icons-item" data-action="collapse"></a>
													               		</div>
													          		</div>
																</div>
																<div class="card-body pb-0 pt-1">
																	<div class="chart-container">
																		<div class="chart has-fixed-height" id="soilCBarChart"></div>
																	</div>
																</div>
															</div>
														</div>
														
														<div class="col-md">
															<div class="card">
																<div class="card-header bg-transparent header-elements-inline">
																	<h6 class="card-title font-weight-bold">
																		<i></i>토양수분 D
																	</h6>
																	<div class="header-elements">
																		<div class="list-icons">
													                		<a class="list-icons-item" data-action="collapse"></a>
													               		</div>
													          		</div>
																</div>
																<div class="card-body pb-0 pt-1">
																	<div class="chart-container">
																		<div class="chart has-fixed-height" id="soilDBarChart"></div>
																	</div>
																</div>
															</div>
														</div>
														
														<div class="col-md">
															<div class="card">
																<div class="card-header bg-transparent header-elements-inline">
																	<h6 class="card-title font-weight-bold">
																		<i></i>토양수분 E
																	</h6>
																	<div class="header-elements">
																		<div class="list-icons">
													                		<a class="list-icons-item" data-action="collapse"></a>
													               		</div>
													          		</div>
																</div>
																<div class="card-body pb-0 pt-1">
																	<div class="chart-container">
																		<div class="chart has-fixed-height" id="soilEBarChart"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterBLineChart"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="tab3">
									<div class="row">
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempCLineChart"></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterCLineChart"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="tab4">
									<div class="row">
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempDLineChart"></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterDLineChart"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="tab5">
									<div class="row">
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="tempELineChart"></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="chart-container">
												<div class="chart line-chart-height" id="waterELineChart"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header bg-transparent header-elements-inline">
							<h6 class="card-title font-weight-bold">
								<i class="icon-satellite-dish2 mr-2"></i>기상정보(기상청)
							</h6>
							<div class="text-secondary">2020-05-27 14:00 기준</div>
						</div>
						<div class="card-body row">
							<div class="mr-md-auto"></div>
							<div class="col-md-4">
								<img th:src="@{/images/sun.png}" alt="sun" style="max-width: 100%; height: auto;"/>
							</div>
							<div class="col-md-7 pl-4 py-3">
								<div class="weather-time">14시 현재</div>
								<div class="weather-info">
									<span class="weather-temp mr-2">22 ℃</span> 맑음
								</div>
								<div>어제 기온과 같음 | 강수확률 0%</div>
								<div>미세먼지 <span class="text-green-600">보통</span> ㆍ 오존 <span class="text-blue-600">좋음</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </th:block>
    
     <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/mobile/home.js}"></script>
        <script th:src="@{/js/common/bar_chart.js}"></script>
    </th:block>
</html>