<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/home.css}" >
    </th:block>
    
    <th:block layout:fragment="content">
        <div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<form role="form">
					<div class="page-title d-flex">
						<div class="form-group mb-0 mr-4">
							<label class="col-form-label mr-2" for="form-type">항목</label>
							<select >
								<option>토양수분</option>
							</select>
						</div>
						<div class="form-group mb-0 mr-4">
							<label class="col-form-label mr-2" for="form-type">날짜 선택</label>
						</div>
						<button class="btn btn-info">검 색</button>
					</div>
				</form>
			</div>
		</div>
    </th:block>
    
     <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/home.js}"></script>
    </th:block>
</html>