<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/measurement.css}" >
    </th:block>
    
    <th:block layout:fragment="content">
       <div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="page-title d-flex">
					<label class="col-form-label font-weight-bold mr-2" for="form-type">구분 :</label>
					<div class="form-group mr-2 mb-0 wmin-150">
						<select class="form-control form-control-select2" id="pointSelect" data-fouc>
							<option value="전체">전체</option>
							<option th:each="point : ${points}" th:value="${point.pointSq}" th:text="${point.pointNm}"></option>
						</select>
					</div>
					
					<div class="form-group mr-2 mb-0">
						<select class="form-control form-control-select2" id="locationSelect" data-fouc>
							<option th:each="location : ${locationTypes}" th:value="${location}" th:text="${location}"></option>
						</select>
					</div>
					
					<div class="form-group mr-4 mb-0">
						<select class="form-control form-control-select2" id="sensorPointSelect" data-fouc>
							<option th:each="sensorPoint : ${sensorPointTypes}" th:value="${sensorPoint}" th:text="${sensorPoint}"></option>
						</select>
					</div>
					
					<label class="col-form-label font-weight-bold mr-2" for="form-type">그래프항목 :</label>
					<div class="form-group mr-2 mb-0">
						<select class="form-control form-control-select2" id="sensorSelect" data-fouc>
							<option th:each="sensor : ${sensorTypes}" th:value="${sensor}" th:text="${sensor}"></option>
						</select>
					</div>
					
					<!-- <div class="form-group mr-4 mb-0">
						<select class="form-control form-control-select2" id="typeSelect" data-fouc>
							<option th:each="chart : ${chartTypes}" th:value="${chart}" th:text="${chart}"></option>
						</select>
					</div> -->
					
					<label class="col-form-label font-weight-bold ml-4 mr-2" for="form-type">날짜 선택 :</label>
					<div class="form-group mr-4 mb-0">
						<div class="input-group">
							<input type="text" class="form-control daterange-picker"> 
							<span class="input-group-append">
								<span class="input-group-text"><i class="icon-calendar22"></i></span>
							</span>
						</div>
					</div>
					
					<button id="searchBtn" class="btn bg-info btn-sm px-3"><i class="icon-search4 mr-2"></i>검 색</button>
				</div>
			</div>
		</div>
		
		<div class="content">
			<div class="card">
				<div class="card-body">
					<div class="chart-container">
						<div class="chart has-fixed-height" id="lineChart"></div>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body">
					<table class="table table-bordered" id="measurementTable">
						<thead class="text-center">
							<tr class="table-active">
								<th>일시</th>
								<th>A 상층 온도</th>
								<th>A 중층 온도</th>
								<th>A 하층 온도</th>
								<th>B 상층 온도</th>
								<th>B 중층 온도</th>
								<th>B 하층 온도</th>
								<th>C 상층 온도</th>
								<th>C 중층 온도</th>
								<th>C 하층 온도</th>
								<th>D 상층 온도</th>
								<th>D 중층 온도</th>
								<th>D 하층 온도</th>
								<th>E 상층 온도</th>
								<th>E 중층 온도</th>
								<th>E 하층 온도</th>
							</tr>
						</thead>
						<tbody class="text-center"></tbody>
					</table>
				</div>
			</div>
		</div>
    </th:block>
    
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/table.js}"></script>
        <script th:src="@{/js/page/measurement.js}"></script>
    </th:block>
</html>