<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/measurement.css}" >
    </th:block>
    
    <th:block layout:fragment="content">
       <div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="page-title d-flex">
					<label class="col-form-label font-weight-bold mr-2" for="form-type">구분 :</label>
					<div class="form-group mr-2 mb-0 wmin-100">
						<select class="form-control form-control-select2" id="sensorSelect" data-fouc>
							<option th:each="sensor : ${sensorTypes}" th:value="${sensor}" th:text="${sensor}"></option>
							<option value="기상">기상</option>
						</select>
					</div>
					
					<div id="locationSelectDiv" class="form-group mr-2 mb-0">
						<select class="form-control form-control-select2" id="locationSelect" data-fouc>
							<option th:each="location : ${locationTypes}" th:value="${location}" th:text="${location}"></option>
						</select>
					</div>
					
					<div id="sensorPointSelectDiv" class="form-group mr-4 mb-0">
						<select class="form-control form-control-select2" id="sensorPointSelect" data-fouc>
							<option th:each="sensorPoint : ${sensorPointTypes}" th:value="${sensorPoint}" th:text="${sensorPoint}"></option>
						</select>
					</div>
					
					<div id="weatherSelectDiv" class="form-group mr-4 mb-0 wmin-100 d-none">
						<select class="form-control form-control-select2" id="weatherTypeSelect" data-fouc>
							<option th:each="weatherType : ${weatherTypes}" th:value="${weatherType}" th:text="${weatherType}"></option>
						</select>
					</div>
					
					<label class="col-form-label font-weight-bold mr-2" for="form-type">날짜 선택 :</label>
					<div class="form-group mr-4 mb-0">
						<div class="input-group">
							<input type="text" class="form-control daterange-picker"> 
							<span class="input-group-append">
								<span class="input-group-text"><i class="icon-calendar22"></i></span>
							</span>
						</div>
					</div>
					
					<button id="searchBtn" class="btn bg-info btn-sm px-3"><i class="icon-search4 mr-2"></i>검 색</button>
				</div>
			</div>
		</div>
		
		<div class="content">
			<div class="card">
				<div class="card-body">
					<div class="chart-container">
						<div class="chart has-fixed-height" id="lineChart"></div>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div id="measurementTableDiv" class="card-body">
					<table class="table table-bordered" id="measurementTable">
						<thead class="text-center">
							<tr>
								<th>일시</th>
								<th id="topA">A 상층 수분</th>
								<th id="middleA">A 중층 수분</th>
								<th id="bottomA">A 하층 수분</th>
								<th id="topB">B 상층 수분</th>
								<th id="middleB">B 중층 수분</th>
								<th id="bottomB">B 하층 수분</th>
								<th id="topC">C 상층 수분</th>
								<th id="middleC">C 중층 수분</th>
								<th id="bottomC">C 하층 수분</th>
								<th id="topD">D 상층 수분</th>
								<th id="middleD">D 중층 수분</th>
								<th id="bottomD">D 하층 수분</th>
								<th id="topE">E 상층 수분</th>
								<th id="middleE">E 중층 수분</th>
								<th id="bottomE">E 하층 수분</th>
							</tr>
						</thead>
						<tbody class="text-center"></tbody>
					</table>
				</div>
				
				<div id="weatherTableDiv" class="card-body d-none">
					<table class="table table-bordered" id="weatherTable">
						<thead class="text-center">
							<tr>
								<th>일시</th>
								<th id="weather1">기온(℃)</th>
								<th id="weather2">습도(%)</th>
								<th id="weather3">풍속(m/s)</th>
								<th id="weather4">강수량(mm)</th>
								<th id="weather5">일조량(J/㎡)</th>
								<th id="weather6">토양수분(%)</th>
							</tr>
						</thead>
						<tbody class="text-center"></tbody>
					</table>
				</div>
			</div>
		</div>
    </th:block>
    
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/table.js}"></script>
        <script th:src="@{/js/page/measurement.js}"></script>
    </th:block>
</html>