<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/measurement.css}" >
    </th:block>
    
    <th:block layout:fragment="content">
       <div class="page-header page-header-light">
			<div class="page-header-content header-elements-md-inline">
				<div class="page-title d-flex">
					<label class="col-form-label font-weight-bold mr-2" for="form-type">항목 :</label>
					<div class="form-group mr-4 mb-0">
						<select class="form-control form-control-select2">
							<option>토양수분</option>
						</select>
					</div>
					
					<label class="col-form-label font-weight-bold mr-2" for="form-type">날짜 선택 :</label>
					<div class="form-group mr-4 mb-0">
						<div class="input-group">
							<span class="input-group-prepend" >
								<span class="input-group-text"><i class="icon-calendar22"></i></span>
							</span>
							<input type="text" id="datetimePicker" class="form-control">
						</div>
					</div>
					
					<button id="searchBtn" class="btn bg-info btn-sm px-3"><i class="icon-search4 mr-2"></i>검 색</button>
				</div>
			</div>
		</div>
		
		<div class="content">
			<div class="row">
			
			</div>
		</div>
    </th:block>
    
     <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/measurement.js}"></script>
    </th:block>
</html>