<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- headerFragment 사용 -->
<th:block th:fragment="headerFragment">
    <div class="navbar navbar-expand-md navbar-dark border-bottom-0">
		<div class="navbar-title d-flex align-items-center">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-paragraph-justify3"></i>
			</button>
			<span class="ml-2">토양환경계측시스템</span>
		</div>
		
		<div class="d-md-none d-flex align-items-center">
			<a href="#" class="btn bg-info-700 btn-sm">로그아웃</a>
		</div>
	</div>
</th:block>
</html>