.card-header {
	padding: 0.5rem 1.25rem;
}

#datetimePicker {
	width: 120px;
}

.map-container {
	height: 230px;
}

.has-fixed-height {
	height: 150px;
}

.line-chart-height {
	height: 260px;
}

.current-titme {
	font-weight: 700;
	font-size: 16px;
}

/*****************************************************/
/* Tab */
/*****************************************************/
.nav-start .active {
	border-left: 0;
}

.nav-end .active {
	border-right: 0;
}

.tab-content {
	padding: 0 1rem 1rem 1rem;
}
/*****************************************************/
/* 범례 스타일 */
/*****************************************************/
.btn-green, .btn-green:hover {
	color: #fff;
    background-color: #00d76a;
    border-color: #00d76a;
}

.btn-yellow, .btn-yellow:hover {
	color: #fff;
    background-color: #ffeb0e;
    border-color: #ffeb0e;
}

.btn-orange, .btn-orange:hover {
	color: #fff;
    background-color: #ff9710;
    border-color: #ff9710;
}

.btn-red, .btn-red:hover {
	color: #fff;
    background-color: #ff2e2f;
    border-color: #ff2e2f;
}

/*****************************************************/
/* 기상 데이터 디자인 */
/*****************************************************/
.weather-time {
	font-size: 1rem;
	font-weight: 600;
	color: #F96D60;
}

.weather-temp {
	font-size: 1.6rem;
	font-weight: 600;
}

/*****************************************************/
/* 작물 환경 디자인 */
/*****************************************************/
.crop-area {
	font-size: 1rem;
	font-weight: 600;
	color: #ff0000;
}

.crop-green {
	font-weight: 600;
	color: #00d76a;
}

.vertical-line {
	border-left: 4px solid #808080;
	height: 100%;
}
